name: Build hcloud node image

on:
  # pull_request:
  #   paths:
  #     - "customisation/**"
  workflow_dispatch:
    inputs:
      HCLOUD_PROJECT:
        description: "Hetzner project (must match a GitHub Environment name)"
        required: true
        type: choice
        options:
          - unbyte-dev
          - pbm-dev
      OS:
        description: "OS"
        required: true
        type: choice
        options:
          - ubuntu-2404

jobs:
  build:
    name: Build image (${{ inputs.HCLOUD_PROJECT }})
    runs-on: ubuntu-latest
    environment: ${{ inputs.HCLOUD_PROJECT }}
    # environment: ${{ github.event_name == 'workflow_dispatch' && inputs.HCLOUD_PROJECT || 'unbyte-dev' }}
    env:
      HCLOUD_LOCATION: fsn1
      HCLOUD_PROJECT: ${{ inputs.HCLOUD_PROJECT }}
      # HCLOUD_PROJECT: ${{ github.event_name == 'workflow_dispatch' && inputs.HCLOUD_PROJECT || 'unbyte-dev' }}
      # comes from the selected Environment's secrets
      HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
      OS_INFO: ${{ inputs.OS }}
      # PACKER_VAR_FILES: customisation/vars/k8s-1.31.json
      PACKER_VAR_FILES: /tmp/k8s-1.31.json
      # TODO renovate
      IMAGE_BUILDER: >-
        registry.k8s.io/scl-image-builder/cluster-node-image-builder-amd64:v0.1.48@sha256:4a522321b30c855efeeb6503f663046aca5c12f14edeb41ee7ef3ae617e3597a
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        shell: bash
        run: |
          set -euo pipefail

          # sanity checks
          test -f customisation/packer-patch.json
          test -f customisation/vars/k8s-1.31.json

          docker run --rm \
            --env HCLOUD_LOCATION=$HCLOUD_LOCATION \
            --env HCLOUD_TOKEN=$HCLOUD_TOKEN \
            --env PACKER_VAR_FILES=$PACKER_VAR_FILES \
            --env OS_INFO=$OS_INFO \
            -v "${PWD}/customisation/scripts:/home/imagebuilder/packer/hcloud/scripts" \
            -v "${PWD}/customisation/packer-patch.json:/tmp/packer-patch.json" \
            -v "${PWD}/customisation/vars/k8s-1.31.json:${PACKER_VAR_FILES}" \
            --entrypoint /bin/sh \
            "${IMAGE_BUILDER}" \
            -c 'set -e
                echo "Patch..." &&
                jq --slurpfile patch /tmp/packer-patch.json \
                  ".provisioners += \$patch[0].provisioners" \
                  packer/hcloud/packer.json > /tmp/packer.json && \
                mv /tmp/packer.json packer/hcloud/packer.json && \
                echo "Validate..." && /usr/bin/make validate-hcloud-$OS_INFO && \
                echo "Build..." && /usr/bin/make build-hcloud-$OS_INFO'
